.pricing {
    width: 100%;
    padding: 6rem 1rem;
    background-color: #000;
}

.card-container {
    display: flex;
    justify-content: center;
    margin: auto;
    display: grid;
    max-width: 70%;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);

}

.card-container .card {
    border: 1px solid #eee;
    color: #eee;
    padding-bottom: 90px;
}

.card {
    text-align: center;
    padding: 1rem;
    position: relative;
}

.card:hover {
    background-color: #141414;
}

.card h3 {
    font-size: 1.4rem;
    padding: 1rem;
}

.card .bar {
    border-bottom: 1px solid #eee;
    width: 10%;
    margin: 1.5rem auto;
    display: block;
}

.card .btc {
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem;
}

.pricing p {
    color: #eee;
    padding: 1rem 0;
    font-size: 1rem;

}

.card .btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}


@media screen and (max-width:880px) {
    .card-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;

    }

}

@media screen and (max-width:420px) {
    .card-container {
        display: flex !important;
        flex-direction: column !important;
    }

    .hero-img {
        width: 100%;
    }

    .pricing {
        width: 100%;
    }

}